.bookcard {
  box-sizing: border-box;
  margin: 5px;
}

.bookcover {
  height: 390px;
  width: 100%;
  border: none;
  border: 3px solid black;
  border-radius: 20px 20px 20px 20px;
}

.to-read-btn {
  font-size: 20px;
}

.bookdata {
  display: flex;
  justify-content: space-around;
}

.booktitle,
.author,
.rank {
  font-size: 20px;
}

.book-btns {
  margin-top: 15px;
}

.to-read-btn {
  border-radius: 15px;
  font-family: 'Special Elite', cursive;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
}
