.search-menu {
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  font-family: 'Special Elite', cursive;
}

.search-submit {
  font-size: 25px;
  padding: 10px;
  font-family: 'Special Elite', cursive;
}
